@{
	Layout = "_Layout";
}
<h2>New Vendor</h2>
<h3>Input the new Vendor's Information in the following form at your leisure, Pierre.</h3>
<form action="/vendors" method="post">
	<label for="name">Vendor/Business Name</label>
	<input id="name" name="name" type="text">
	<label for="desc">A description of the vendor.  Be honest.</label>
	<input id="desc" name="desc" type="textarea">
	<button type="submit">Add new Vendor</button>
</form>